{% extends 'base.html' %}

{% block head %}
    <!--<base href="/website/"> TODO: MAKE SURE YOU UPDATE THE BASE TAG EVERY TIME YOU PUSH TO GITHUB FOR ALL PAGES-->
    <!-- AND FOR BOTH .JS MODEL PATHS-->
    <title>Homepage of Samuel Weiss</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <!--all .js files that need to reference non-site content must have path constants defined here-->
    <script>
        const MNIST_PATH = "{{ url_for('static', filename='models/mnist_model.onnx') }}"
        const SEG_PATH = "{{ url_for('static', filename='models/seg_model.onnx') }}"
    </script>
    <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/ascii.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/pet.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/mnist.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/forecast.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section>
        <header class="banner">
            <p>Samuel Weiss, Data Scientist</p>
            <a href="https://github.com/zecerman">
                <img src="{{ url_for('static', filename='img/github.png') }}" style="width:50px;height:50px;">
            </a>
            <a href="https://www.linkedin.com/in/samuel-weiss-81a45532b/">
                <img src="{{ url_for('static', filename='img/in.png') }}" style="width:50px;height:50px;">
            </a>
            <a href="{{ url_for('cube') }}" style="position:absolute;right:40px;z-index:1001;">
                <img src="{{ url_for('static', filename='img/empty.png') }}" style="width:90px;height:80px;">
            </a>
        </header>
        <pre id="ASCII" style="position:fixed;top:0;right:0;padding:0px;z-index: 1000;pointer-events:none;"></pre>
        <div id="buffer">
            <!--This element exists so that the banner does not cover the features on page load-->
        </div>
    </section>
    <section class="features">
        <nav>
            <ul>
            <div id="buffer">
            <!--This element exists so that the banner does not cover the nav bar-->
            </div>
            <li class="logo"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('test') }}">Test</a></li>
            </ul>
        </nav>
        <div class="flex-container" style="max-width: 324px;">
            <h1>Digit Guesser</h1>
            <div id="board-wrapper">
                <div id="board"><!--filled by mnist.js--></div>
                <div id="guess-chart"><!--filled by mnist.js--></div>
            </div>
            <button onclick="resetBoard()" class="button">Reset</button>
            <p>The "Hello World" of machine learning, this digit classifier model is hand written CNN architecture made in pytorch and trained on the classic MNIST dataset.</p>
        </div>

        <div class="flex-container" style="max-width: 680px;">
        <h1>Stock Forecaster</h1>
        <div>
            <img id="forecast-plot" src="{{ url_for('static', filename='img/lstm.png') }}" alt="Forecast plot" style="width:600px;height:250px;">
            <pre id="progress-bar" style="display: none;">progress bar</pre>
            <pre id="lstm-target">Choose a ticker to see the 10 day price forecast</pre>
            <p>See the price forecast for the following tickers:</p>
            <div>
                <button onclick="runForecast('AMD')" class="button">AMD</button>
                <button onclick="runForecast('DIS')" class="button">DIS</button>
                <button onclick="runForecast('PLD')" class="button">PLD</button>
                <button onclick="runForecast('HD')" class="button">HD</button>
                <button onclick="runForecast('NEE')" class="button">NEE</button>
            </div>
            <p style="opacity: 0%;">space</p>
            <div style="display:flex;justify-content:center;gap:10px;">
                <p>Or enter your own ticker:&nbsp;</p>
                <input id="ticker-input" placeholder="e.g. NVDA" />
                <button onclick="runForecast(document.getElementById('ticker-input').value || 'AAPL')" class="button">Run Forecast</button>
            </div>
            <p style="opacity: 0%;">space</p>
            <p>(Data beyond "End of Dataset" line represents the ticker's 10 day price forecast)</p>
            <p>This model is designed to forecast stock prices based on dynamically available yfinance data. It uses LSTM architecture (a form of RNN) built in pytorch.
                The results of this model are not financial advice, I am not a financial advisor.</p>
            <p>NOTE: model training is done on CPU due to running in browser, model is 1-2 orders of magnitude faster when running on GPU.</p>
        </div>
        </div>

        <div class="flex-container" style="width:576px;">
            <h1>Pet Finder</h1>
            <div id="image-container">
                <img id="pet-img" src="{{ url_for('static', filename='img/empty.png') }}" alt="Pet Image" style="width:256px;height:256px;">
                <img> <!-- used for padding -->
                <img id="pet-map" src="{{ url_for('static', filename='img/empty.png') }}" alt="Pet Map" style="width:256px;height:256px;">
                <canvas id="pet-canvas" width="256" height="256" style="display:none;"></canvas>
            </div>
            
            <label class="button">
                Upload your pet photo here
                <input type="file" id="pet-upload" accept="image/*" style="display: none;">
            </label>

            <p>Have you ever taken a picture of your adorable pet, but then later need help finding where they are in the picture? 
                Look no longer! This image segmentation model can find your cat or dog for you and generate a corresponding heatmap for your reference.
                This ML model was written from scratch in pytorch, based on UNET architecture, and uses data sourced from the Oxford-IIIT pet dataset.
            </p>
            <p id="test"></p>
        </div>
    </section>
    <section></section>
    <footer style="z-index: 1001;">
        <p>Thank you for visiting, enjoy some candles</p>   
        <img src="{{ url_for('static', filename='img/footer.webp') }}" alt="Footer banner" id="footer-banner">
    </footer>
{% endblock %}