{% extends 'base.html' %}

{% block head %}
    <title>TEMPLATE PAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='scripts/ascii.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section>
        <header id="banner">
        <a id="home" href="{{ url_for('home') }}">Home</a>
        <div style="text-align: center; width: 100%;">
            <p>Banner text</p>
        </div>
        </header>
    <pre id="ASCII" style="position:fixed;top:0;right:0;padding:0px;z-index: 1000;pointer-events:none;"></pre>
    <a href="{{ url_for('cube') }}" style="position:absolute;top:20px;right:40px;z-index:999;">
    <img src="{{ url_for('static', filename='img/empty.png') }}" style="width:90px;height:80px;">
    </a>
    </section>
    <p>padding</p>
    <div id="buffer">
        <!--This element exists so that the banner does not cover the features on page load-->
    </div>
    <section class="features">

        <div class="flex-container">
            <h1>A flex container</h1>
            <p>Content...</p>
        </div>
    </section>
{% endblock %}
